.index {
    text-align: center;
    line-height: var(--size);
    font-size: 16px;
}

.index-top {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.index-top-side {
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.index-left {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.index-right {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.index-bottom {
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}